<div class="container app-container" >
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
            <hr>



        </div>
        <div class="col-md-6">
            <dl>
                <dt>Name</dt>
                <dd>Norbert Kunszt</dd>

                <dt>Telephone</dt>
                <dd>+36-20-534-0145</dd>

                <dt>E-mail</dt>
                <dd>kunszt.norbert@gmail.com</dd>

                <dt>Web</dt>
                <dd><a href="http://szobekweb.hu" target="_blank">http://szobekweb.hu</a></dd>


            </dl>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/me.jpg" alt="" width="200">
        </div>
    </div>
</div>
